.stats-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:25px;

}

.stat-card{

display:flex;
align-items:center;
gap:20px;
padding:25px;
border-radius:12px;
color:white;
font-size:22px;
box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.stat-card svg{

font-size:45px;

}

.blue{background:#0d6efd;}
.green{background:#198754;}
.orange{background:#fd7e14;}
.red{background:#dc3545;}

.chart-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
margin-bottom:25px;

}

.chart-card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.bottom-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:20px;

}

.activity-card,
.quick-card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.activity-card ul{

margin-top:15px;

}

.activity-card li{

margin:15px 0;

}

.quick-card{

display:flex;
flex-direction:column;

}

.quick-card button{

margin-top:15px;
padding:14px;
border:none;
background:#0d6efd;
color:white;
border-radius:8px;
cursor:pointer;
display:flex;
align-items:center;
gap:10px;

}

.quick-card button:hover{

background:#084298;

}

@media(max-width:900px){

.stats-grid,
.chart-grid,
.bottom-grid{

grid-template-columns:1fr;

}

}